## Code

In [3]:


################################################## Post Processing ################################################

df.drop(columns = ['Sector', 'sector_codes_mod', 'Breadth (%) 90d Past', 'Rel to 200Day (%) 90d Past', 
                   'A/D Line 90d Past', 'Return on Equity (%) Z-Score', 'Net Profit Margin (%) Z-Score', 
                   'Operating Margin (%) Z-Score'], 
        inplace=True)
df.rename(columns = {'sector_codes': 'Sector Code'}, inplace=True)




df.T.style